# macOS
.DS_Store

# Visual Code
.vscode

# Binaries
*/broker-webapp/broker-webapp
*/stock-quotes-service/stock-quotes-service
*/ledger-gateway/ledger-gateway
common-server

# Ignore bundles generated as part of the tutorial
*.bundle

# goenv 
.go-version


go.sum
