# macOS
.DS_Store

# Visual Code
.vscode

# Binaries
broker-webapp
stock-quotes-service
common-server
ledger-gateway

# Ignore bundles generated as part of the tutorial
*.bundle

# goenv 
.go-version
