# macOS
.DS_Store

# Visual Code
.vscode

# Binaries
*/example-workload/example-workload
*/stock-quotes-service/stock-quotes-service
*/ledger-gateway/ledger-gateway
common-server

# Ignore bundles generated as part of the tutorial
*.bundle

# goenv 
.go-version


go.sum

bin/
bin/spire-server
bin/spire-agent

*.log

data/